{% extends "base.html" %}
{% block title %} Posts {% endblock %}

{% block body %}
    <h3>Add Post</h3>
<html>
    <form method="POST" action="">
         <table>
              <tr>
                   <td>Post Title</td>
                   <td><input type="text" name="title"></td>
              </tr>
              <tr>
                   <td>Post Content</td>
                   <td><input type="text" name="content"></td>
              </tr>
              <tr>
                   <td><input type="submit" name="submit" value="Add"></td>
                   <td></td>
              </tr>
         </table>
    </from>
</html>
{% endblock %}