{% extends 'Admin/dashbord.html' %}

{% block body %}
<link rel="stylesheet" href="App/Views/style.css" >
    <h1>Add Category</h1>
    <div class="div1">
    <form method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" value="{{ data.CategoryName }}">
                </td>
            </tr>
            <tr>
                <td>URL Key</td>
                <td>
                    <input type="text" name="url" value="{{ data.urlKey }}">
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td>
                    <input type="file" name="image" value="{{ data.image }}">
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <select name="status">
                        {% if data.status == "available" %}
                                {% set selected = "selected" %}
                            {% else %}
                                {% set selected = "" %}
                        {% endif %}
                        <option value="available" {{selected}}>Available</option>
                        {% if data.status == "Not-Available" %}
                                {% set selected = "selected" %}
                            {% else %}
                                {% set selected = "" %}
                        {% endif %}
                        <option value="Not-Available" {{selected}}>Not Available</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <textarea rows="5" cols="30" name="description">{{ data.description }}</textarea>
                </td>
            </tr>
            <tr>
                <td>parent Category</td>
                <td>
                    <select name="parentCategory">
                        {% for parent in parents %}
                            {% if  parent.parentCategoryName == data.parentCategory %}
                                {% set selected="selected" %}
                            {% else %}
                                {% set selected="" %}
                            {% endif %}
                            <option value="{{ parent.parentCategoryName }}" {{selected}}>{{ parent.parentCategoryName }}</option>
                        {% endfor %}
                    </select>
                 </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit">
                </td>
            </tr>
        </table>
    </form>
    </div>
{% endblock %}
